/* FOOTER */

.footer{
    background: #F5F5F5;
    padding: 0;
}
.footer .row{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    column-gap: 74px;
    
}

.footer_top .col{
    padding-top: 40px;
}
.footer_top .col h3{
    margin-top: 0;
    margin-bottom: 16px;
}
.footer_top_item{
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
   
}
.footer_top_item .footer_top_icon{
    width: 16px;
    height: 19.69px;
    margin-right: 10px;
}
.footer_top_item .footer_top_txt{
    text-decoration: none;
   
}
.footer_top_item .footer_top_txt1{
    text-decoration: none;
    padding-left: 25px;
}


.footer_top_list{
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 25px;
}
/* Contact */

.input_contact{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: transparent;
    outline: 0;
}
.footer_group{
    padding-bottom: 24px;
}
.footer_top_txt{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #6D6969;

}
.footer_top_txt1{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #6D6969;
    
}
.footer_label{  
    /* text-color-second */
    
    color: #6D6969;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}
.footer_label span{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    color: red;
    margin-left: 4px;
}
.footer_list_icon{
    padding: 0;
    margin: 0;
}
.footer_icon{

    margin-right: 12px;
   
}


.footer_list_icon a img{
    margin-top: 30%;
}
textarea{
    resize: none;
}
.footer_button{
    float: right;
    height: 40px;
    width: 149px;
    border-radius: 6px;
    text-align: center;
    background: #0d3982;
    color: #fff;
    text-transform: uppercase;
}

.footer_download{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer_download li{
    margin-top: 25px;
}
.footer_download a{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;


    /* text-color-second */
    text-decoration: none;
    color: #6D6969;

}
.footer_down{
    height: 47px;
    border-radius: 0px;
    background: linear-gradient(103.77deg,rgba(0,178,255,.84) -6.28%,rgba(23,44,231,.8) 20.51%,#061173 100.88%);
   
}
.footer_down p{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 11px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #FFFFFF;
}